<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layout.css">
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Nhap sinh vien</title>

    <script>

    </script>

</head>

<body>
    <h1>Nhap sinh vien</h1>
    <form action="/xuly" method="post">
        <input type="text" name="hoten" id="hoten">
        <input type="text" name="namsinh" id="namsinh">
        <input type="submit" value="gui">

    </form>
</body>

</html>